body {
  background-color: #f5f2e8;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.instagram-link {
  text-align: center;
  font-size: 2rem;
}

.instagram-link a {
  display: inline-block;
  text-decoration: none;
  color: #c7465c;
}

.instagram-link a:hover {
  text-decoration: underline;
}

.instagram-link i {
  margin-right: 20px;
}
