@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400;1,900&display=swap');


/* bege: #F9F7ED */
/* azul: #4D9FB7 */
/* vermelho: #C36475 */
body {
  background-color: #F9F7ED;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #C36475;
}

.bold-500 {
  font-weight: 500;
  color: #C36475;
}

main p {
  font-size:1.2em;
}
